table {
    border-collapse: collapse;
}
ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
td {
    border: 1px solid black;
    padding: 5px 10px;
}
td label {
    font-weight: bold;
    color: blue;
}
tr.strikethrough>.deltas{
    text-decoration: line-through;text-decoration: line-through;
    color: lightgray;
}

dt {
    float: left;
    clear: left;
}

dd {
    clear: right;
    float: right;
}
/* 
dt:nth-of-type(even),dd:nth-of-type(even) {
    background: lightblue;
}
dt:nth-of-type(odd),dd:nth-of-type(odd) {
    background: lightgreen;
} */


dl {
    margin: 0px
}