<!-- <pre ng-bind="$ctrl.data | json"></pre>
 --><form name="myForm" ng-submit="myForm.$valid && $ctrl.submit()">
	<fieldset>
		<legend>From</legend>
		<div ng-repeat="user in $ctrl.users | filter : {'active':true} : true track by user.$id" class="form-group">
			<label for="from_{{user.$id}}" ng-bind="user.name"></label>
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input id="from_{{user.$id}}" name="from_{{user.$id}}" class="form-control" type="number" min="0" step="0.01" ng-model="$ctrl.data.from[user.$id]" />
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>To</legend>
		<div class="form-group">
			<label class="control-label">Transaction type</label>
			<div ng-repeat="transactionType in $ctrl.transactionTypes track by transactionType.id" class="radio">
				<label><input type="radio" ng-model="$ctrl.data.type" ng-value="transactionType.id">{{ transactionType.label }}</label>
			</div>
		</div>
		<div ng-switch="$ctrl.data.type">
			<div ng-switch-when="single" class="form-group">
				<label class="control-label">Select a user</label>
				<select ng-options="user.name for user in $ctrl.users | filter : {'active':true} : true track by user.$id" ng-model="$ctrl.data.toSingle" class="form-control"></select>
			</div>
			<div ng-switch-when="even" class="form-group">
				<label class="control-label">Select users</label>
				<div ng-repeat="user in $ctrl.users | filter : {'active':true} : true track by user.$id" class="checkbox">
					<label><input type="checkbox" ng-model="$ctrl.data.toEven[user.$id]">{{ user.name }}</label>
				</div>
			</div>
			<div ng-switch-when="uneven" ng-repeat="user in $ctrl.users | filter : {'active':true} : true track by user.$id" class="form-group">
				<label for="to_{{user.$id}}" ng-bind="user.name"></label>
				<div class="input-group">
					<input id="to_{{user.$id}}" name="to_{{user.$id}}" class="form-control" type="number" min="0" step="1" ng-model="$ctrl.data.toUneven[user.$id]" />
					<span class="input-group-addon">parts</span>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Comment</legend>
		<div class="form-group" ng-class="{'has-success': myForm.comment.$valid, 'has-error': myForm.comment.$touched && myForm.comment.$invalid}">
			<label class="control-label" for="comment">Enter a comment</label>
			<input class="form-control" type="text" id="comment" name="comment" minlength="3" maxlength="127" required title="3 to 127 characters" placeholder="Comment" ng-model="$ctrl.data.comment"/>
			<div ng-messages="myForm.comment.$error" ng-show="myForm.comment.$touched" class="help-block">
				<div ng-message="required">Please enter a value for this field.</div>
				<div ng-message="minlength">This field must be at least 3 characters long.</div>
				<div ng-message="maxlength">This field can be at most 127 characters long.</div>
			</div>
		</div>
	</fieldset>
	<div class="form-group">
		<input type="submit" class="btn btn-primary btn-block" />
	</div>
</form>
