<ul class="nav nav-tabs">
	<li ng-if="$ctrl.transactions.length" ui-sref-active="active"><a ui-sref=".transactions">Transactions</a></li>
	<li ui-sref-active="active"><a ui-sref=".new">New</a></li>
	<li ui-sref-active="active" ng-if="$ctrl.users.$getRecord($ctrl.authObj.uid).admin"><a ui-sref=".admin">Admin</a></li>
</ul>

<ui-view>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Users</h3>
		</div>
		<ul class="list-group">
			<li ng-repeat="user in $ctrl.users track by user.$id" class="list-group-item">
				<div class="list-group-item-heading">
					<abbr ng-bind="user.name" title="{{ user.$id }}"></abbr>
					<span ng-if="user.$id === $ctrl.authObj.uid" class="label label-danger">Me</span>
					<span ng-if="user.admin" class="label label-primary">Admin</span>
					<span ng-if="user.active" class="label label-success">Active</span>
				</div>
				<span ng-if="$ctrl.transactions.length" ng-bind="$ctrl.transactions.getTotals($ctrl.transactions[$ctrl.transactions.length - 1].$id)[user.$id]/100 | currency" class="text-success" ng-class="{'text-danger': $ctrl.transactions.getTotals($ctrl.transactions[$ctrl.transactions.length - 1].$id)[user.$id] < 0 }"></span>
			</li>
		</ul>
	</div>
</ui-view>
