<blockquote>
    <p ng-bind="$ctrl.transaction.comment"></p>
    <footer>Entered by <b ng-bind="$ctrl.users.$getRecord($ctrl.transaction.by).name"></b> at {{ $ctrl.transaction.$priority | date:'medium' }}</footer>
</blockquote>
<!--
From:
<pre ng-bind="$ctrl.transaction.from | json"></pre>

To:
<pre ng-bind="$ctrl.transaction.to | json"></pre>

Deltas:
<pre ng-bind="$ctrl.transaction.deltas | json"></pre>
 -->
<ul class="list-unstyled">
    <li ng-repeat="user in $ctrl.users track by user.$id" ng-if="$ctrl.transaction.from[user.$id] || $ctrl.transaction.to[user.$id]">
        <b ng-bind="user.name"></b>
        <span ng-if="$ctrl.transaction.from[user.$id]">paid {{ $ctrl.transaction.from[user.$id]/100 | currency }}</span>
        <span ng-if="$ctrl.transaction.from[user.$id] && $ctrl.transaction.to[user.$id]">and</span>
        <span ng-if="$ctrl.transaction.to[user.$id]">received {{ $ctrl.transaction.to[user.$id] }} part{{ $ctrl.transaction.to[user.$id] === 1 ? '' : 's' }}</span>
        <span ng-class="'text-' + ($ctrl.transaction.deltas[user.$id] < 0 ? 'danger' : 'success')">
            <span ng-if="!$ctrl.transaction.reversed">({{ $ctrl.transaction.deltas[user.$id] / 100 | currency }})</span>
            <del ng-if="$ctrl.transaction.reversed">({{ $ctrl.transaction.deltas[user.$id] / 100 | currency }})</del>
        </span>
<!--         <span>New total:</span>
        <span ng-class="'text-' + ($ctrl.transaction.totals[user.$id] < 0 ? 'danger' : 'success')" ng-bind="$ctrl.transaction.totals[user.$id] / 100 | currency"></span>
 -->    </li>
</ul>


<form name="reverseForm" ng-if="!$ctrl.transaction.reversed && $ctrl.users.$getRecord($ctrl.authObj.uid).active" class="form-group" ng-class="{'has-error': reverseForm.$invalid}" ng-submit="$ctrl.reverse(comment)">
	<label class="control-label" for="comment">Reverse transaction</label>
	<div class="input-group">
		<input class="form-control" type="text" id="comment" name="comment" minlength="3" maxlength="127" required title="3 to 127 characters" placeholder="Comment" ng-model="comment"/>
		<span class="input-group-btn">
			<input class="btn btn-danger" type="submit" value="Reverse"/>
		</span>
	</div>
	<div ng-messages="reverseForm.comment.$error" ng-show="reverseForm.comment.$touched" class="help-block">
		<div ng-message="required">Please enter a value for this field.</div>
		<div ng-message="minlength">This field must be at least 3 characters long.</div>
		<div ng-message="maxlength">This field can be at most 127 characters long.</div>
	</div>
</form>

<!-- <button class="btn btn-danger" type="button" ng-click="$ctrl.reverse($ctrl.transaction)">Delete</button> -->

<blockquote ng-if="$ctrl.transaction.reversed">
    <p ng-bind="$ctrl.transaction.reversed.comment"></p>
    <footer>Deleted by <b ng-bind="$ctrl.users.$getRecord($ctrl.transaction.reversed.by).name"></b> at {{ $ctrl.transaction.reversed.at | date:'medium' }}</footer>
</blockquote>
