<!-- <div ng-if="$ctrl.me" class="text-right">
    <span>Welcome, {{ $ctrl.me.displayName }}!</span>
    <button type="button" class="btn btn-default" ng-click="$ctrl.signOut()">Sign out</button>
</div>
<div ng-if="$ctrl.me === null" class="text-right">
    <span>You are unauthenticated!</span>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.signIn()">Sign in</button>
</div>
<ul class="nav nav-tabs nav-justified">
    <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
    <li ui-sref-active="active"><a ui-sref="transactions.all">Transactions</a></li>
    <li ui-sref-active="active"><a ui-sref="transactions.new">New</a></li>
</ul> -->
<button type="button" class="btn btn-primary" ng-click="$ctrl.signIn()">Sign in</button>
