<form name="newSpreadsheetForm" ng-submit="$ctrl.newSpreadsheet(newSpreadsheetName)">
	<label for="newSpreadsheetName">New spreadsheet</label>
	<input id="newSpreadsheetName" name="newSpreadsheetName" type="text" ng-model="newSpreadsheetName" placeholder="Name" ng-minlength="3" ng-maxlength="127" required/>
	<input type="submit" class="btn btn-primary" ng-disabled="newSpreadsheetForm.$invalid"/>
</form>
<form name="joinSpreadsheetForm" ng-submit="$ctrl.joinSpreadsheet(joinSpreadsheetId)">
	<label for="joinSpreadsheetId">Join spreadsheet</label>
	<input id="joinSpreadsheetId" name="joinSpreadsheetId" type="text" ng-model="joinSpreadsheetId" placeholder="Paste id here" required/>
	<input type="submit" class="btn btn-primary" ng-disabled="joinSpreadsheetForm.$invalid"/>
</form>
